
.banner2{
    height: 60vh;
    background-color: #000;
    background: linear-gradient(rgba(5, 4, 8, 0.568),rgba(5, 4, 8, 0.568)), url('https://images.unsplash.com/photo-1498243691581-b145c3f54a5a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80')no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    filter: blur(0px);
    z-index: 1;
}
.mainn h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4.9rem;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 4px solid red;
 
}

/********** Latest News, Event, Notice Board Starts **********/  
.container{
    max-width: 100%;
}
.container .row{
    max-width: 100%;
    padding-top: 4rem;
    padding-bottom: 3rem;
   
}
.latest-news{
     margin-left:10px;
     margin-right:10px;
     background:#fff;
     padding:20px;
     height:350px;
     margin-bottom:30px;
}
 .event-list{
     margin-left:10px;
     margin-right:10px;
     background:#fff;
     padding:20px;
     height:350px;
     margin-bottom:30px;
}
 .notice-board{
     margin-left:10px;
     margin-right:10px;
     background:#fff;
     padding:20px;
     height:350px;
     margin-bottom:30px;
}

 .heading-sect{
     width: 100%;
     float: left;
     border-bottom: 1px solid #cfcfcf;
     padding-bottom: 0px;
     margin: 0px;
     margin-bottom: 15px;
     padding-top: 2px;
     border: 1px solid #cfcfcf;
     padding-bottom: 10px;
     padding-top: 15px;
     padding-left: 15px;
     background: #00aed9;
     color:white;
}
 .heading-sect h3{
     color:white;
}
 .head-title {
     margin: 0px;
     padding: 0px;
     font-size: 16px;
     font-weight: 600;
     font-family : 'Roboto', sans-serif!important;
     color: #2196f3;
     padding-bottom: 5px;
}
 .upcoming-event-list li {
     width: 100%;
     float: left;
     margin-bottom: 15px;
}
 .upcoming-event-list{
     padding:0px;
    list-style:none;
}
 .event-date {
     background: #03a9f4;
     width: 60px;
     float: left;
     text-align: center;
     font-size:14px;
     color: #fff;
     padding:8px;
     margin-right: 10px;
}
 .notice-board-list li {
     width: 100%;
     float: left;
     margin-bottom: 15px;
}
 .notice-board-list{
     padding:0px;
     list-style:none;
}
 .latest-news-ul{
     padding:0px;
    list-style:none;
    line-height: 40px;
}
/********** Latest News, Event, Notice Board Ends **********/